$primary: #21C05C;
$secondary: #2563EB;

.coments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.coment-card {

    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20rem;
    height: 15rem;
    border-top: 1px solid #9CA3AF;
    border-right: 1px solid #9CA3AF;
    border-bottom: 1px solid #9CA3AF;
    border-left: 4px solid #9CA3AF;
    border-radius: 4px 0 0 4px;

    .stars {
        display: flex;
        color: #FACC15;
        margin: 20px;
        gap: 2px;
    }

    span {
        margin: 0 20px;
        font-size: large;
        color: #4B5563;
        ;
    }

    .user {
        display: flex;
        align-items: center;
        margin: 20px;

        .icon {
            border-radius: 100%;

            padding: 5px;
            text-align: center;
            align-content: center;

            &.primary {
                background-color: #b3edc9;
                color: $primary;
            }

            &.secondary {
                background-color: #7ea7ff;
                color: $secondary;
            }

            &.tertiary {
                background: #16A34A;
                color: #026125;

            }

        }

        div {
            display: flex;
            flex-direction: column;

            .name {
                font-size: large;
                font-weight: bold;
            }

            .role {
                color: #6B7280;

            }

            ;

        }
    }
}