$primary: #21C05C;
$secondary: #2563EB;

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #efefef;

    .action-buttons {
        display: flex;
        gap: 20px;
        width: 15rem;
        height: 2rem;
        margin: 1rem 0;


        .primary {
            border: none;
            background-color: $primary ;
            color: white;
            border-radius: 7px;

        }

        .secondary {
            border: solid 1px $primary;
            background-color: transparent;
            border-radius: 7px;
            color: $primary;
        }
    }

}